<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTS</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/3377be9db6.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../assets/img/iconr.png">

</head>
<body>
    <header class="header">
        <nav class="navbar">
          <img src="../assets/img/logon.png" class="logo" alt="bts">
          <input type="checkbox" name="check" id="check">
          <ul class="menu" id="menu">
            <il><a href="../index.html">Home</a></il>
            <il><a href="#" class="active">Integrantes</a></il>
            <il><a href="#">Album</a></il>
          </ul>
          <label for="check" class=" bar-btn"><i class="fas fa-bars"></i></label>
          
        </nav>
      </header>
    
   
        <div class="container" id="container">
            <div class="card">
                <div class="content">
                    <h2>Jin</h2>
                    <p><span>Nacimiento:</span> 4 de diciembre de 1992 (edad 29 años), Gwacheon, Corea del Sur</p>
                    <p><span>Nombre en coreano: </span> 김석진</p>
                    <p>Kim Seok-jin, conocido por su nombre artístico Jin, es un cantante, actor, modelo, presentador, compositor y bailarín surcoreano.​​ Pertenece a la banda BTS, donde ocupa el puesto de vocalista, bailarín y visual desde 2013.​</p>
                </div>
                <img src="../assets/img/jin.png" alt="">
            </div>
            <div class="card">
                <div class="content">
                    <h2>RM</h2>
                    <p><span>Nacimiento:</span> 12 de septiembre de 1994 (edad 27 años), Yeoui-dong, Seúl, Corea del Sur</p>
                    <p><span>Nombre en coreano: </span> 김남준</p>
                    <p>Kim Nam-joon, más conocido por su nombre artístico RM, es un rapero, compositor y productor surcoreano. Es el líder del grupo BTS. En 2015, lanzó su primer mixtape RM.</p>
                </div>
                <img src="../assets/img/rm.png" alt="">
            </div>
            <div class="card">
                <div class="content">
                    <h2>Suga</h2>
                    <p><span>Nacimiento:</span> 9 de marzo de 1993 (edad 29 años), Taejeon-dong</p>
                    <p><span>Nombre en coreano: </span>  민윤기</p>
                    <p>Min Yoon-gi, más conocido por sus nombres artísticos Suga y Agust D, es un rapero, compositor, productor, modelo y bailarín surcoreano. Debutó en el grupo BTS en 2013 bajo la compañía Big Hit Music.​</p>
                </div>
                <img src="../assets/img/suga.png" alt="">
            </div>
            <div class="card">
                <div class="content">
                    <h2>J-Hope</h2>
                    <p><span>Nacimiento:</span> 18 de febrero de 1994 (edad 28 años), Ilgok-dong, Gwangju, Corea del Sur</p>
                    <p><span>Nombre en coreano: </span> 정호석</p>
                    <p>Jung Ho-seok, conocido por su nombre artístico J-Hope, es un rapero, compositor, cantante, bailarín y productor surcoreano.  lanzó su primer mixtape, Hope World, el 2 de marzo de 2018</p>
                </div>
                <img src="../assets/img/jhope.png" alt="">
            </div>
            <div class="card">
                <div class="content">
                    <h2>Jimin</h2>
                    <p><span>Nacimiento:</span> 13 de octubre de 1995 (edad 26 años), Hoedong-dong, Busan, Corea del Surr</p>
                    <p><span>Nombre en coreano: </span> 박지민</p>
                    <p>Park Ji-min, más conocido como Jimin, es un cantante y bailarín surcoreano. En 2013 debutó como integrante del grupo BTS bajo la compañía Big Hit Music.​ </p>
                </div>
                <img src="../assets/img/jimin.png" alt="">
            </div>
            <div class="card">
                <div class="content">
                    <h2>V</h2>
                    <p><span>Nacimiento:</span>  30 de diciembre de 1995 (edad 26 años), Bisan-dongr</p>
                    <p><span>Nombre en coreano: </span> 김태형</p>
                    <p>Kim Tae-hyung, más conocido por su nombre artístico V, es un cantante, compositor y actor surcoreano. Es miembro del grupo BTS bajo la compañía Big Hit Music</p>
                </div>
                <img src="../assets/img/vimg.png" alt="">
            </div>
            <div class="card">
                <div class="content">
                    <h2>Jungkook</h2>
                    <p><span>Nacimiento:</span> 1 de septiembre de 1997 (edad 24 años), Mandeok-dong, Busan, Corea del Sur</p>
                    <p><span>Nombre en coreano: </span>  전정국</p>
                    <p>Jeon Jung-kook, conocido como Jungkook, es un cantante y bailarín surcoreano. En 2013 debutó como integrante del grupo BTS bajo la compañía Big Hit Music.</p>
                </div>
                <img src="../assets/img/jk.png" alt="">
            </div>
            
        </div>
        
        </div>
        
      </main>
       <div class="radio-section">
    <div class="listen-online">
      <i class="fas fa-headphones-alt"></i>
      <h3>Listen Online</h3>
    </div> 
    <h2>Follow me</h2>
    <div class="social-network">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</body>
</html>